.authCard {
  display: flex;
  height: fit-content;
  width: 20%;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 20px auto;
  padding: 2rem;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.invalid {
  border-bottom: 2px solid #b40e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.authCard > h2 {
  color: black;
}

.errorText {
  font-size: 0.8rem;
  color: #b40e0e;
}

.header {
  background-color: #da7e3c;
  width: 100%;
  height: 20vh;
  color: white;
  font-size: 1rem;
  z-index: 100;
}

.header div {
  position: absolute;
  top: 50px;
  left: 100px;
  display: flex;
  align-items: center;
}

.header h2 {
  margin-left: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.appName {
  margin: 10px 0;
}

.span {
  display: flex;
  color: black;
  margin: 0 auto;
  margin-top: 20px;
}

.signupLink {
  text-decoration: none;
  margin-left: 10px;
  color: #db6c1d;
}

.signupLink:hover {
  color: rgb(68, 65, 65);
  text-decoration: underline;
}

.button {
  padding: 8px 25px;
  color: white;
  background-color: #db6c1d;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .authCard {
    margin: 20px auto;
    width: 70%;
  }

  .authForm {
    position: relative;
    align-items: center;
    margin-top: -2rem;
    height: 80vh;
    display: flex;
  }

  .header div {
    left: 20px;
  }
} ;
